{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0).
 * It is also available through the world-wide-web at this URL: https://opensource.org/licenses/AFL-3.0
 *#}

{% extends '@Modules/mygooglereviews/views/templates/admin/layout.html.twig' %}
{% form_theme form 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit_base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/modules/mygooglereviews/views/css/stars.css?2" /> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> 
{% endblock %}

{% block controllerTitle %}{{ 'Set My Google Reviews'|trans({}, 'Modules.Controllertab.Admin') }}{% endblock %}
{% block controllerDescription %}

<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a data-toggle="tab" class="nav-link active" href="#home">Set Place ID</a>
  </li>
  <li class="nav-item">
    <a data-toggle="tab" class="nav-link" href="#score_tab">Your Score</a>
  </li>
  <li class="nav-item">
    <a data-toggle="tab" class="nav-link" href="#reviews_tab">Your Reviews</a>
  </li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active show">
    <h3>Place ID</h3>
    <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Address</th>
        <th>Place ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><i class="fa fa-map-marker" aria-hidden="true"></i></th>
        <td>{{ address }}</td>
        <td>{{ placeid }}</td>
        <td>
          <button type="button" id="refresh_reviews"  class="btn btn-outline-warning">Refresh </button>
        </td>
      </tr>
    </tbody>
  </table>
    
    {# {{ form_start(form) }}

    {{ form_end(form) }} #}

     
    
  </div>
  <div id="score_tab" class="tab-pane fade">
    <h3>Your score</h3>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Establishment ID</th>
          <th>Establishment Score</th>
          <th>Establishment Nb Rating</th>
        </tr>
      </thead>
      <tbody>
      {% for score in scores %}
        <tr>
          <th scope="row">{{ score.id }}</th>
          <td scope="row">{{ score.establishment_id }}</td>
          <td>{{ score.establishment_score }}</td>
          <td>{{ score.establishment_nbvote }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div id="score_content">
    <div class="container d-flex justify-content-center align-items-center">
    {# {{ dump(scores[0].establishment_score)}} #}
    {% if scores is not empty %}
    <div class="cardrating p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="ratings">
                <i class="{% if scores[0].establishment_score /5 == 0 %}fa fa-star{% elseif scores[0].establishment_score /5 > 0 and scores[0].establishment_score /5 < 0.2 %}fa fa-star-half-o rating-color{% else %}fa fa-star rating-color{% endif %}"></i>
                <i class="{% if scores[0].establishment_score /5 < 0.2 %}fa fa-star{% elseif scores[0].establishment_score /5 > 0.2 and scores[0].establishment_score /5 < 0.4 %}fa fa-star-half-o rating-color{% else %}fa fa-star rating-color{% endif %}"></i>
                <i class="{% if scores[0].establishment_score /5 < 0.4 %}fa fa-star{% elseif scores[0].establishment_score /5 >= 0.4 and scores[0].establishment_score /5 < 0.6 %}fa fa-star-half-o rating-color{% else %}fa fa-star rating-color{% endif %}"></i>
                <i class="{% if scores[0].establishment_score /5 < 0.6 %}fa fa-star{% elseif scores[0].establishment_score /5 >= 0.6 and scores[0].establishment_score /5 < 0.8 %}fa fa-star-half-o rating-color{% else %}fa fa-star rating-color{% endif %}"></i>
                <i class="{% if scores[0].establishment_score /5 < 1 %}fa fa-star{% elseif scores[0].establishment_score /5 >= 0.8 and scores[0].establishment_score /5 < 1 %}fa fa-star-half-o rating-color{% else %}fa fa-star rating-color{% endif %}"></i>
               
                {# <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star-half-o rating-color"></i> #}
            </div>
            <h5 class="review-count">with {{ scores[0].establishment_nbvote }} Reviews</h5>
        </div>
    </div>
    {% endif %}

   
</div>
    </div>
  </div>
  <div id="reviews_tab" class="tab-pane fade">
    <h3>Reviews</h3>
    <div id="reviews_content">
    {% for review in reviews %}
      <div class="container mt-5">

          <div class="cardreviews text-center mb-5">

              <div class="circle-image">
                  <img src="{{ review.profile_photo_url }}" width="50">
              </div>

              <span class="dot"></span>

              <span class="name mb-1 fw-500">{{ review.author_name }}</span>
              {# <small class="text-black-50">Tata Ace</small>
              <small class="text-black-50 font-weight-bold">QP09AA9090</small> #}

              <div class="location mt-4">

              <div>
              <p class="review-text">{{ review.text }}</p>
              </div>
                  <span class="d-block"><i class="fa fa-star start"></i> <small class="text-truncate ml-2">{{ review.rating }}</small> </span>

                  
              </div>

              <div class="rate bg-success py-3 text-white mt-3">
                  <div class="rating"> 
                    <div class="align-items-center">
                      <div class="ratings">
                          <i class="fa fa-star {% if review.rating  >= 1 %}rating-color{% endif %}"></i>
                          <i class="fa fa-star {% if review.rating  >= 2 %}rating-color{% endif %}"></i>
                          <i class="fa fa-star {% if review.rating  >= 3 %}rating-color{% endif %}"></i>
                          <i class="fa fa-star {% if review.rating  >= 4 %}rating-color{% endif %}"></i>
                          <i class="fa fa-star {% if review.rating  >= 5 %}rating-color{% endif %}"></i>
                          
                      </div>
                    </div>
                  </div>

              </div>
          </div>
      </div>

    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block reviews %}
  
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('../modules/mygooglereviews/views/js/setButton.js') }}"></script>
{% endblock %}

